- if logged_in?
  %p.admin 
    &laquo; 
    %a{:href => '/delete/'+@exercise.id.to_s, :accesskey => 'd'}Delete
    &raquo;
%h2
  = long_date(@exercise.start_time)
= @exercise.tags.map { |t| "<a href=\"/tags/"+t.name+"\">"+t.name+"</a>" }.join(', ')
%p
  = ChronicDistance.output(@exercise.distance, :format => :long, :unit => 'kilometers')
  in
  = ChronicDuration.output(@exercise.duration, :format => :long)
%p= @exercise.comment
