%html
  %head
    %title 
      watchmetrain
      = " - #{@title}" unless @title.nil?
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <meta name="google-site-verification" content="QyXCA0FeoNi1CUlxSjgQEvs3TXCwDuMmP_h2qFNLylw" />
  %body
    #header
      %h1 
        %a{:href => "/"}watch me train
        %span a log and graphs
      %ol#links
        %li 
          %a{:href => '/about'}about
          |
          %a{:href => '/archive'}archive
          |
          %a{:href => '/convert'}convert
          - if logged_in?
            |
            %a{:href => '/logs'}logs
    #container
      #content
        -if flash.has?(:error)
          %h3.error= flash[:error]
        -if flash.has?(:notice)
          %h3.notice= flash[:notice]
        -if flash.has?(:success)
          %h3.success= flash[:success]
        = yield
    #footer
      %p.quiet 
        All training done by 
        %a{:href => '/about'}Mike Griffin
        %a{:href => 'http://feeds.feedburner.com/Watchmetrainnet-RecentPosts'}
          %img{:src => '/images/feed-icon-14x14.png', :alt => 'feed'}
    -if production?
      ~ haml :google_analytics, :layout => false
